.btn,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: $button-default-background-color;
  border: 0.1rem solid $button-default-border-color;
  border-radius: 0.4rem;
  color: $button-default-text-color;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: background 0.4s, 
              color 0.4s;
  &:focus,
  &:hover {
    background-color: $button-default-background-hover-color;
    color: $button-default-text-hover-color;
    outline: 0;
  }
  &[disabled] {
    cursor: default;
    opacity: 0.5;
    &:focus,
    &:hover {
      background-color: $button-default-background-color;
    }
  }

  // primary button to be used with submit or CTA
  &.btn-primary {
    background-color: $button-primary-background-color;
    border-color: $button-primary-border-color;
    color: $button-primary-text-color;
    &:focus,
    &:hover {
      background-color: darken($button-primary-background-color, 10%);
      border-color: darken($button-primary-border-color, 10%);
      color: $button-primary-text-color;
    }
    &[disabled] {
      cursor: default;
      opacity: 0.5;
      &:focus,
      &:hover {
        background-color: $button-primary-background-color;
        border-color: $button-primary-border-color;
        color: $button-primary-text-color;
      }
    }
  }

  // secondary button to be used as clear on forms etc.
  &.btn-secondary {
    background-color: $button-secondary-background-color;
    border-color: $button-secondary-border-color;
    color: $button-secondary-text-color;
    &:focus,
    &:hover {
      background-color: darken($button-secondary-background-color, 10%);
      border-color: darken($button-secondary-border-color, 10%);
      color: $button-secondary-text-color;
    }
    &[disabled] {
      cursor: default;
      opacity: 0.5;
      &:focus,
      &:hover {
        background-color: $button-secondary-background-color;
        border-color: $button-secondary-border-color;
        color: $button-secondary-text-color;
      }
    }
  }
}